<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Forum</title>
</head>
<body>
  <div class='container'>
    <div><p>Hello <%= name %></p></div>
<form action = '/logout?_method=DELETE' method="post">
  <button type="submit" class="btn btn-danger">Log out</button>
</form>

<a href='/about' class="btn btn-outline-primary">About me</a>
<a href='/submit' class="btn btn-outline-info">Submit</a>
<a href='/profile/<%= user.name %>' class="btn btn-info">View profile</a>

<div>
  <% articles.forEach(article => { %>
  <div>
    <div class="border border-info">
      <div><a href="/article/<%= article.user %>" class="text-decoration-none"><%= article.title %></a></div>
      <span>by: <a href='/<%= article.user %>'><%= article.user %></a>|</span>
      <span>time: <%= article.time.toLocaleDateString() %></span>
   </div>
  </div>
<% }); %> 
</div>
</div>
</body>
</html>